In [1]:
from pyspark import SparkContext
sc=SparkContext()
from pyspark.sql import SQLContext
sqlc = SQLContext(sc)

In [2]:
from pyspark.sql import *
na_schema = Row("Name","Age")

In [3]:
row1 = na_schema("Ankit", 23)
row2 = na_schema("Tyler", 26)
row3 = na_schema("Preity", 36)

In [4]:
na_list = [row1, row2, row3]
df_na = sqlc.createDataFrame(na_list)
type(df_na)

pyspark.sql.dataframe.DataFrame

In [5]:
df_na.show()

+------+---+
|  Name|Age|
+------+---+
| Ankit| 23|
| Tyler| 26|
|Preity| 36|
+------+---+

In [6]:
data = [("Ankit", 23), ("Tyler", 26), ("Preity", 36)]
data_rdd = sc.parallelize(data)
type(data_rdd)

pyspark.rdd.RDD

In [7]:
data_sd = sqlc.createDataFrame(data_rdd)

In [8]:
data_sd.show()

+------+---+
|    _1| _2|
+------+---+
| Ankit| 23|
| Tyler| 26|
|Preity| 36|
+------+---+

In [11]:
df = sqlc.read.format('com.databricks.spark.csv').options(header = 'true', interschema = 'true').load('cars_headers.csv')
type(df)

pyspark.sql.dataframe.DataFrame

In [12]:
df.show(5)

+---+----+---------+------------+----------+------+------------+----+------+--------------------+
|_c0| mpg|cylinders|displacement|horsepower|weight|acceleration|year|origin|                name|
+---+----+---------+------------+----------+------+------------+----+------+--------------------+
|  0|18.0|        8|       307.0|     130.0|3504.0|        12.0|  70|     1|chevrolet chevell...|
|  1|15.0|        8|       350.0|     165.0|3693.0|        11.5|  70|     1|   buick skylark 320|
|  2|18.0|        8|       318.0|     150.0|3436.0|        11.0|  70|     1|  plymouth satellite|
|  3|16.0|        8|       304.0|     150.0|3433.0|        12.0|  70|     1|       amc rebel sst|
|  4|17.0|        8|       302.0|     140.0|3449.0|        10.5|  70|     1|         ford torino|
+---+----+---------+------------+----------+------+------------+----+------+--------------------+
only showing top 5 rows

In [13]:
import pandas as pd
df.toPandas()

,_c0,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...,...
393,393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

In [14]:
df.toPandas().to_csv('carsMyPandasCopy.csv')

In [15]:
df.write.csv('carsMySparkCopy.csv')

In [16]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- mpg: string (nullable = true)
 |-- cylinders: string (nullable = true)
 |-- displacement: string (nullable = true)
 |-- horsepower: string (nullable = true)
 |-- weight: string (nullable = true)
 |-- acceleration: string (nullable = true)
 |-- year: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- name: string (nullable = true)

In [17]:
df.schema.names

['_c0',
 'mpg',
 'cylinders',
 'displacement',
 'horsepower',
 'weight',
 'acceleration',
 'year',
 'origin',
 'name']

In [18]:
df.count()

398

In [19]:
len(df.columns)

10

In [20]:
df.show(5)

+---+----+---------+------------+----------+------+------------+----+------+--------------------+
|_c0| mpg|cylinders|displacement|horsepower|weight|acceleration|year|origin|                name|
+---+----+---------+------------+----------+------+------------+----+------+--------------------+
|  0|18.0|        8|       307.0|     130.0|3504.0|        12.0|  70|     1|chevrolet chevell...|
|  1|15.0|        8|       350.0|     165.0|3693.0|        11.5|  70|     1|   buick skylark 320|
|  2|18.0|        8|       318.0|     150.0|3436.0|        11.0|  70|     1|  plymouth satellite|
|  3|16.0|        8|       304.0|     150.0|3433.0|        12.0|  70|     1|       amc rebel sst|
|  4|17.0|        8|       302.0|     140.0|3449.0|        10.5|  70|     1|         ford torino|
+---+----+---------+------------+----------+------+------------+----+------+--------------------+
only showing top 5 rows

In [22]:
df.describe().show()

+-------+-----------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+--------------------+
|summary|              _c0|               mpg|         cylinders|      displacement|        horsepower|           weight|      acceleration|              year|            origin|                name|
+-------+-----------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+--------------------+
|  count|              398|               398|               398|               398|               398|              398|               398|               398|               398|                 398|
|   mean|            198.5|23.514572864321615| 5.454773869346734|193.42587939698493|104.46938775510205|2970.424623115578|15.568090452261291| 76.01005025125629|1.5728643216080402|                null|
| stddev|115.0369505854532| 7.815984312565783|1.7010042445332123|104.26983817119587| 38.49115993282846|846.8417741973268| 2.757688929812676|3.6976266467325862|0.8020548777266148|                null|
|    min|                0|              10.0|                 3|             100.0|             100.0|           1613.0|              10.0|                70|                 1|amc ambassador br...|
|    max|               99|               9.0|                 8|              98.0|                 ?|           5140.0|               9.5|                82|                 3|    vw rabbit custom|
+-------+-----------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+--------------------+

In [23]:
df.describe('acceleration').show()

+-------+------------------+
|summary|      acceleration|
+-------+------------------+
|  count|               398|
|   mean|15.568090452261291|
| stddev| 2.757688929812676|
|    min|              10.0|
|    max|               9.5|
+-------+------------------+

In [24]:
na_schema1 = Row("Name", "Subject", "Marks")
row_1 = na_schema1("Ankit", "Science", 95)
row_2 = na_schema1("Tyler", "Maths", 87)
row_3 = na_schema1("Preity", "Maths", 92)
na_list1 = [row_1, row_2, row_3]
df_na1 = sqlc.createDataFrame(na_list1)
type(df_na1)

pyspark.sql.dataframe.DataFrame

In [26]:
df_na1.show()

+------+-------+-----+
|  Name|Subject|Marks|
+------+-------+-----+
| Ankit|Science|   95|
| Tyler|  Maths|   87|
|Preity|  Maths|   92|
+------+-------+-----+

In [27]:
df_na1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Subject: string (nullable = true)
 |-- Marks: long (nullable = true)

In [28]:
print('numbers of rows: ', str(df_na1.count()))
print('numbers of columns: ', str(len(df_na1.columns)))

numbers of rows:  3
numbers of columns:  3

In [31]:
df.describe(["mpg","cylinders"]).show()

+-------+------------------+------------------+
|summary|               mpg|         cylinders|
+-------+------------------+------------------+
|  count|               398|               398|
|   mean|23.514572864321615| 5.454773869346734|
| stddev| 7.815984312565783|1.7010042445332123|
|    min|              10.0|                 3|
|    max|               9.0|                 8|
+-------+------------------+------------------+

In [32]:
df_p = df.toPandas()
df_p.head(7).to_csv('carsHead.csv')

In [33]:
df=df.withColumnRenamed('cylinders', 'cyl')

In [34]:
df.select('cyl', 'mpg').show(5)

+---+----+
|cyl| mpg|
+---+----+
|  8|18.0|
|  8|15.0|
|  8|18.0|
|  8|16.0|
|  8|17.0|
+---+----+
only showing top 5 rows

In [35]:
df = df.withColumn('weight_tons', df['weight']/1000.0)
df.show(5)

+---+----+---+------------+----------+------+------------+----+------+--------------------+-----------+
|_c0| mpg|cyl|displacement|horsepower|weight|acceleration|year|origin|                name|weight_tons|
+---+----+---+------------+----------+------+------------+----+------+--------------------+-----------+
|  0|18.0|  8|       307.0|     130.0|3504.0|        12.0|  70|     1|chevrolet chevell...|      3.504|
|  1|15.0|  8|       350.0|     165.0|3693.0|        11.5|  70|     1|   buick skylark 320|      3.693|
|  2|18.0|  8|       318.0|     150.0|3436.0|        11.0|  70|     1|  plymouth satellite|      3.436|
|  3|16.0|  8|       304.0|     150.0|3433.0|        12.0|  70|     1|       amc rebel sst|      3.433|
|  4|17.0|  8|       302.0|     140.0|3449.0|        10.5|  70|     1|         ford torino|      3.449|
+---+----+---+------------+----------+------+------------+----+------+--------------------+-----------+
only showing top 5 rows

In [36]:
df=df.drop('weight_tons')
df.show(5)

+---+----+---+------------+----------+------+------------+----+------+--------------------+
|_c0| mpg|cyl|displacement|horsepower|weight|acceleration|year|origin|                name|
+---+----+---+------------+----------+------+------------+----+------+--------------------+
|  0|18.0|  8|       307.0|     130.0|3504.0|        12.0|  70|     1|chevrolet chevell...|
|  1|15.0|  8|       350.0|     165.0|3693.0|        11.5|  70|     1|   buick skylark 320|
|  2|18.0|  8|       318.0|     150.0|3436.0|        11.0|  70|     1|  plymouth satellite|
|  3|16.0|  8|       304.0|     150.0|3433.0|        12.0|  70|     1|       amc rebel sst|
|  4|17.0|  8|       302.0|     140.0|3449.0|        10.5|  70|     1|         ford torino|
+---+----+---+------------+----------+------+------------+----+------+--------------------+
only showing top 5 rows

In [38]:
df.select('cyl').distinct().show()

+---+
|cyl|
+---+
|  3|
|  8|
|  5|
|  6|
|  4|
+---+

In [39]:
df.select('cyl').distinct().count()

5

In [40]:
df.select('cyl').dropDuplicates().show()

+---+
|cyl|
+---+
|  3|
|  8|
|  5|
|  6|
|  4|
+---+

In [44]:
df.dropDuplicates(['cyl','displacement']).show()

+---+----+---+------------+----------+------+------------+----+------+--------------------+
|_c0| mpg|cyl|displacement|horsepower|weight|acceleration|year|origin|                name|
+---+----+---+------------+----------+------+------------+----+------+--------------------+
| 32|25.0|  4|        98.0|         ?|2046.0|        19.0|  71|     1|          ford pinto|
|177|23.0|  4|       115.0|     95.00|2694.0|        15.0|  75|     2|          audi 100ls|
|187|17.5|  8|       305.0|     140.0|4215.0|        13.0|  76|     1|chevrolet chevell...|
| 51|30.0|  4|        79.0|     70.00|2074.0|        19.5|  71|     2|         peugeot 304|
|195|29.0|  4|        85.0|     52.00|2035.0|        22.2|  76|     1|  chevrolet chevette|
| 49|23.0|  4|       122.0|     86.00|2220.0|        14.0|  71|     1|  mercury capri 2000|
|390|32.0|  4|       144.0|     96.00|2665.0|        13.9|  82|     3|    toyota celica gt|
| 16|18.0|  6|       199.0|     97.00|2774.0|        15.5|  70|     1|          amc hornet|
|146|28.0|  4|        90.0|     75.00|2125.0|        14.5|  74|     1|          dodge colt|
|274|20.3|  5|       131.0|     103.0|2830.0|        15.9|  78|     2|           audi 5000|
|123|20.0|  6|       156.0|     122.0|2807.0|        13.5|  73|     3|      toyota mark ii|
|207|20.0|  4|       130.0|     102.0|3150.0|        15.7|  76|     2|           volvo 245|
|328|30.0|  4|       146.0|     67.00|3250.0|        21.8|  80|     2|  mercedes-benz 240d|
| 45|18.0|  6|       258.0|     110.0|2962.0|        13.5|  71|     1|amc hornet sporta...|
|327|36.4|  5|       121.0|     67.00|2950.0|        19.9|  80|     2| audi 5000s (diesel)|
| 40|14.0|  8|       351.0|     153.0|4154.0|        13.5|  71|     1|    ford galaxie 500|
| 33|19.0|  6|       232.0|     100.0|2634.0|        13.0|  71|     1|         amc gremlin|
| 17|21.0|  6|       200.0|     85.00|2587.0|        16.0|  70|     1|       ford maverick|
|113|21.0|  6|       155.0|     107.0|2472.0|        14.0|  73|     1|    mercury capri v6|
|354|34.5|  4|       100.0|         ?|2320.0|        15.8|  81|     2|         renault 18i|
+---+----+---+------------+----------+------+------------+----+------+--------------------+
only showing top 20 rows

In [45]:
df.filter(df.cyl==3).show()

+---+----+---+------------+----------+------+------------+----+------+---------------+
|_c0| mpg|cyl|displacement|horsepower|weight|acceleration|year|origin|           name|
+---+----+---+------------+----------+------+------------+----+------+---------------+
| 71|19.0|  3|        70.0|     97.00|2330.0|        13.5|  72|     3|mazda rx2 coupe|
|111|18.0|  3|        70.0|     90.00|2124.0|        13.5|  73|     3|      maxda rx3|
|243|21.5|  3|        80.0|     110.0|2720.0|        13.5|  77|     3|     mazda rx-4|
|334|23.7|  3|        70.0|     100.0|2420.0|        12.5|  80|     3|  mazda rx-7 gs|
+---+----+---+------------+----------+------+------------+----+------+---------------+

In [46]:
df.filter((df.cyl==8) & (df.horsepower > 200)).show()

+---+----+---+------------+----------+------+------------+----+------+--------------------+
|_c0| mpg|cyl|displacement|horsepower|weight|acceleration|year|origin|                name|
+---+----+---+------------+----------+------+------------+----+------+--------------------+
|  6|14.0|  8|       454.0|     220.0|4354.0|         9.0|  70|     1|    chevrolet impala|
|  7|14.0|  8|       440.0|     215.0|4312.0|         8.5|  70|     1|   plymouth fury iii|
|  8|14.0|  8|       455.0|     225.0|4425.0|        10.0|  70|     1|    pontiac catalina|
| 13|14.0|  8|       455.0|     225.0|3086.0|        10.0|  70|     1|buick estate wago...|
| 25|10.0|  8|       360.0|     215.0|4615.0|        14.0|  70|     1|           ford f250|
| 27|11.0|  8|       318.0|     210.0|4382.0|        13.5|  70|     1|          dodge d200|
| 67|11.0|  8|       429.0|     208.0|4633.0|        11.0|  72|     1|     mercury marquis|
| 94|13.0|  8|       440.0|     215.0|4735.0|        11.0|  73|     1|chrysler new york...|
| 95|12.0|  8|       455.0|     225.0|4951.0|        11.0|  73|     1|buick electra 225...|
|116|16.0|  8|       400.0|     230.0|4278.0|         9.5|  73|     1|  pontiac grand prix|
+---+----+---+------------+----------+------+------------+----+------+--------------------+

In [47]:
df.orderBy(df.cyl).show()

+---+----+---+------------+----------+------+------------+----+------+--------------------+
|_c0| mpg|cyl|displacement|horsepower|weight|acceleration|year|origin|                name|
+---+----+---+------------+----------+------+------------+----+------+--------------------+
|243|21.5|  3|        80.0|     110.0|2720.0|        13.5|  77|     3|          mazda rx-4|
|334|23.7|  3|        70.0|     100.0|2420.0|        12.5|  80|     3|       mazda rx-7 gs|
| 71|19.0|  3|        70.0|     97.00|2330.0|        13.5|  72|     3|     mazda rx2 coupe|
|111|18.0|  3|        70.0|     90.00|2124.0|        13.5|  73|     3|           maxda rx3|
|108|20.0|  4|        97.0|     88.00|2279.0|        19.0|  73|     3|       toyota carina|
| 55|27.0|  4|        97.0|     60.00|1834.0|        19.0|  71|     2|volkswagen model 111|
| 54|35.0|  4|        72.0|     69.00|1613.0|        18.0|  71|     3|         datsun 1200|
| 32|25.0|  4|        98.0|         ?|2046.0|        19.0|  71|     1|          ford pinto|
| 56|26.0|  4|        91.0|     70.00|1955.0|        20.5|  71|     1|    plymouth cricket|
| 57|24.0|  4|       113.0|     95.00|2278.0|        15.5|  72|     3|toyota corona har...|
| 53|31.0|  4|        71.0|     65.00|1773.0|        19.0|  71|     3| toyota corolla 1200|
| 59|23.0|  4|        97.0|     54.00|2254.0|        23.5|  72|     2|   volkswagen type 3|
| 60|20.0|  4|       140.0|     90.00|2408.0|        19.5|  72|     1|      chevrolet vega|
| 61|21.0|  4|       122.0|     86.00|2226.0|        16.5|  72|     1| ford pinto runabout|
| 19|26.0|  4|        97.0|     46.00|1835.0|        20.5|  70|     2|volkswagen 1131 d...|
| 23|26.0|  4|       121.0|     113.0|2234.0|        12.5|  70|     2|            bmw 2002|
| 58|25.0|  4|        97.5|     80.00|2126.0|        17.0|  72|     1|  dodge colt hardtop|
| 30|28.0|  4|       140.0|     90.00|2264.0|        15.5|  71|     1| chevrolet vega 2300|
| 51|30.0|  4|        79.0|     70.00|2074.0|        19.5|  71|     2|         peugeot 304|
| 46|22.0|  4|       140.0|     72.00|2408.0|        19.0|  71|     1| chevrolet vega (sw)|
+---+----+---+------------+----------+------+------------+----+------+--------------------+
only showing top 20 rows

In [48]:
df.orderBy(df.cyl.desc()).show()

+---+----+---+------------+----------+------+------------+----+------+--------------------+
|_c0| mpg|cyl|displacement|horsepower|weight|acceleration|year|origin|                name|
+---+----+---+------------+----------+------+------------+----+------+--------------------+
| 13|14.0|  8|       455.0|     225.0|3086.0|        10.0|  70|     1|buick estate wago...|
| 44|13.0|  8|       400.0|     175.0|5140.0|        12.0|  71|     1| pontiac safari (sw)|
| 62|13.0|  8|       350.0|     165.0|4274.0|        12.0|  72|     1|    chevrolet impala|
|  1|15.0|  8|       350.0|     165.0|3693.0|        11.5|  70|     1|   buick skylark 320|
| 25|10.0|  8|       360.0|     215.0|4615.0|        14.0|  70|     1|           ford f250|
|  3|16.0|  8|       304.0|     150.0|3433.0|        12.0|  70|     1|       amc rebel sst|
| 26|10.0|  8|       307.0|     200.0|4376.0|        15.0|  70|     1|           chevy c20|
|  5|15.0|  8|       429.0|     198.0|4341.0|        10.0|  70|     1|    ford galaxie 500|
| 27|11.0|  8|       318.0|     210.0|4382.0|        13.5|  70|     1|          dodge d200|
|  7|14.0|  8|       440.0|     215.0|4312.0|         8.5|  70|     1|   plymouth fury iii|
| 28| 9.0|  8|       304.0|     193.0|4732.0|        18.5|  70|     1|            hi 1200d|
|  9|15.0|  8|       390.0|     190.0|3850.0|         8.5|  70|     1|  amc ambassador dpl|
| 38|14.0|  8|       350.0|     165.0|4209.0|        12.0|  71|     1|    chevrolet impala|
| 11|14.0|  8|       340.0|     160.0|3609.0|         8.0|  70|     1|  plymouth 'cuda 340|
| 39|14.0|  8|       400.0|     175.0|4464.0|        11.5|  71|     1|pontiac catalina ...|
|  0|18.0|  8|       307.0|     130.0|3504.0|        12.0|  70|     1|chevrolet chevell...|
| 40|14.0|  8|       351.0|     153.0|4154.0|        13.5|  71|     1|    ford galaxie 500|
|  4|17.0|  8|       302.0|     140.0|3449.0|        10.5|  70|     1|         ford torino|
| 41|14.0|  8|       318.0|     150.0|4096.0|        13.0|  71|     1|   plymouth fury iii|
|  8|14.0|  8|       455.0|     225.0|4425.0|        10.0|  70|     1|    pontiac catalina|
+---+----+---+------------+----------+------+------------+----+------+--------------------+
only showing top 20 rows

In [49]:
df.groupBy(df.cyl).agg({'horsepower' : 'mean'}).show()

+---+------------------+
|cyl|   avg(horsepower)|
+---+------------------+
|  3|             99.25|
|  8| 158.3009708737864|
|  5| 82.33333333333333|
|  6|101.50602409638554|
|  4| 78.28140703517587|
+---+------------------+

In [50]:
df.groupBy(df.cyl).count().show()

+---+-----+
|cyl|count|
+---+-----+
|  3|    4|
|  8|  103|
|  5|    3|
|  6|   84|
|  4|  204|
+---+-----+

In [51]:
# Rename any five columns of the DataFrame.

data1 = df
new_names = ['row_new', 'mpg_new', 'cyl_new', 'disp_new', 'hp_new']

for i,z in zip(data1.columns[0:5],new_names):
    data1=data1.withColumnRenamed(str(i),str(z))
data1.columns

['row_new',
 'mpg_new',
 'cyl_new',
 'disp_new',
 'hp_new',
 'weight',
 'acceleration',
 'year',
 'origin',
 'name']

In [52]:
data1.columns[0:5]

['row_new', 'mpg_new', 'cyl_new', 'disp_new', 'hp_new']

In [58]:
# Select two numeric and one categorical column from the DataFrame.

data2 = df.select(['cyl','mpg','horsepower'])
data2.show(5)

+---+----+----------+
|cyl| mpg|horsepower|
+---+----+----------+
|  8|18.0|     130.0|
|  8|15.0|     165.0|
|  8|18.0|     150.0|
|  8|16.0|     150.0|
|  8|17.0|     140.0|
+---+----+----------+
only showing top 5 rows

In [59]:
# Count the number of distinct categories in the categorical variable.

data2.select('cyl').distinct().count()

5

In [60]:
# Create two new columns in the DataFrame by summing up and multiplying together the two
# numerical columns.

data2 = data2.withColumn('colSum',df.mpg + df.horsepower)
data2 = data2.withColumn('colProduct',df.mpg * df.horsepower)
data2.show(5)

+---+----+----------+------+----------+
|cyl| mpg|horsepower|colSum|colProduct|
+---+----+----------+------+----------+
|  8|18.0|     130.0| 148.0|    2340.0|
|  8|15.0|     165.0| 180.0|    2475.0|
|  8|18.0|     150.0| 168.0|    2700.0|
|  8|16.0|     150.0| 166.0|    2400.0|
|  8|17.0|     140.0| 157.0|    2380.0|
+---+----+----------+------+----------+
only showing top 5 rows

In [61]:
# Drop both the original numerical columns.

data2 = data2.drop('mpg','horsepower')
data2.show(5)

+---+------+----------+
|cyl|colSum|colProduct|
+---+------+----------+
|  8| 148.0|    2340.0|
|  8| 180.0|    2475.0|
|  8| 168.0|    2700.0|
|  8| 166.0|    2400.0|
|  8| 157.0|    2380.0|
+---+------+----------+
only showing top 5 rows

In [62]:
# Sort the data by the categorical column.

data2=data2.orderBy('cyl')
data2.show(5)

+---+------+----------+
|cyl|colSum|colProduct|
+---+------+----------+
|  3| 116.0|    1843.0|
|  3| 123.7|    2370.0|
|  3| 108.0|    1620.0|
|  3| 131.5|    2365.0|
|  4| 112.0|    2175.0|
+---+------+----------+
only showing top 5 rows

In [63]:
# Calculate the mean of the summation column for each distinct category in the categorical
# variable.

data2.groupBy('cyl').agg({'colSum' : 'mean'}).show()

+---+------------------+
|cyl|       avg(colSum)|
+---+------------------+
|  3|             119.8|
|  4| 107.5653266331658|
|  5|             109.7|
|  6|121.47951807228917|
|  8|173.26407766990295|
+---+------------------+

In [64]:
# Filter the rows with values greater than the mean of all the mean values calculated in step 7.

cyl_avg = data2.groupBy('cyl').agg({'colSum' : 'mean'})
avg = cyl_avg.agg({'avg(colSum)' : 'mean'}).collect()[0][0]
data2 = data2.filter(data2.colSum > avg)
data2.show(5)

+---+------+----------+
|cyl|colSum|colProduct|
+---+------+----------+
|  3| 131.5|    2365.0|
|  4| 129.0|    3404.0|
|  4| 140.0|    2875.0|
|  4| 131.5|    2365.0|
|  4| 139.0|    2938.0|
+---+------+----------+
only showing top 5 rows

In [65]:
cyl_avg.collect()[1][1]

107.5653266331658

In [66]:
data2.count()

141

In [67]:
# De-duplicate the resultant DataFrame to make sure it has only unique records.

data2=data2.dropDuplicates()
data2.count()

116