In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Python Spark Session").getOrCreate()

In [2]:
df=spark.read.csv('people.csv', header=True)
df.show()

+-----+---+------+
| name|age|height|
+-----+---+------+
| Adam| 14|  12.8|
|Sonia| 12|  45.9|
|Fiona| 34|  9.78|
+-----+---+------+

In [3]:
df.select(df['age']).show()

+---+
|age|
+---+
| 14|
| 12|
| 34|
+---+

In [4]:
df.select(df['age'],df['name']).show()

+---+-----+
|age| name|
+---+-----+
| 14| Adam|
| 12|Sonia|
| 34|Fiona|
+---+-----+

In [5]:
# df.write.csv("results12.csv", header = True)

In [6]:
df=spark.read.csv('results12.csv', header = True)

In [7]:
df.show()

+-----+---+------+
| name|age|height|
+-----+---+------+
| Adam| 14|  12.8|
|Sonia| 12|  45.9|
|Fiona| 34|  9.78|
+-----+---+------+

In [8]:
import pandas as pd

column_names = ['mpg', 'cylinders', 'displacement',
'horsepower','weight', 'acceleration', 'year', 'origin', 'name']

dfp = pd.read_csv('cars.data', names = column_names, delim_whitespace=True)
dfp.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [9]:
dfp.to_csv('cars_headers.csv')

In [10]:
dfs = spark.read.csv('cars_headers.csv', header = True)
dfs.show()

+---+----+---------+------------+----------+------+------------+----+------+--------------------+
|_c0| mpg|cylinders|displacement|horsepower|weight|acceleration|year|origin|                name|
+---+----+---------+------------+----------+------+------------+----+------+--------------------+
|  0|18.0|        8|       307.0|     130.0|3504.0|        12.0|  70|     1|chevrolet chevell...|
|  1|15.0|        8|       350.0|     165.0|3693.0|        11.5|  70|     1|   buick skylark 320|
|  2|18.0|        8|       318.0|     150.0|3436.0|        11.0|  70|     1|  plymouth satellite|
|  3|16.0|        8|       304.0|     150.0|3433.0|        12.0|  70|     1|       amc rebel sst|
|  4|17.0|        8|       302.0|     140.0|3449.0|        10.5|  70|     1|         ford torino|
|  5|15.0|        8|       429.0|     198.0|4341.0|        10.0|  70|     1|    ford galaxie 500|
|  6|14.0|        8|       454.0|     220.0|4354.0|         9.0|  70|     1|    chevrolet impala|
|  7|14.0|        8|       440.0|     215.0|4312.0|         8.5|  70|     1|   plymouth fury iii|
|  8|14.0|        8|       455.0|     225.0|4425.0|        10.0|  70|     1|    pontiac catalina|
|  9|15.0|        8|       390.0|     190.0|3850.0|         8.5|  70|     1|  amc ambassador dpl|
| 10|15.0|        8|       383.0|     170.0|3563.0|        10.0|  70|     1| dodge challenger se|
| 11|14.0|        8|       340.0|     160.0|3609.0|         8.0|  70|     1|  plymouth 'cuda 340|
| 12|15.0|        8|       400.0|     150.0|3761.0|         9.5|  70|     1|chevrolet monte c...|
| 13|14.0|        8|       455.0|     225.0|3086.0|        10.0|  70|     1|buick estate wago...|
| 14|24.0|        4|       113.0|     95.00|2372.0|        15.0|  70|     3|toyota corona mar...|
| 15|22.0|        6|       198.0|     95.00|2833.0|        15.5|  70|     1|     plymouth duster|
| 16|18.0|        6|       199.0|     97.00|2774.0|        15.5|  70|     1|          amc hornet|
| 17|21.0|        6|       200.0|     85.00|2587.0|        16.0|  70|     1|       ford maverick|
| 18|27.0|        4|        97.0|     88.00|2130.0|        14.5|  70|     3|        datsun pl510|
| 19|26.0|        4|        97.0|     46.00|1835.0|        20.5|  70|     2|volkswagen 1131 d...|
+---+----+---------+------------+----------+------+------------+----+------+--------------------+
only showing top 20 rows

In [11]:
# dfs.write.json('carsSPARK.json')

In [12]:
dft=spark.read.json('carsSPARK.json')

In [13]:
dft.show()

+---+------------+---------+------------+----------+----+--------------------+------+------+----+
|_c0|acceleration|cylinders|displacement|horsepower| mpg|                name|origin|weight|year|
+---+------------+---------+------------+----------+----+--------------------+------+------+----+
|  0|        12.0|        8|       307.0|     130.0|18.0|chevrolet chevell...|     1|3504.0|  70|
|  1|        11.5|        8|       350.0|     165.0|15.0|   buick skylark 320|     1|3693.0|  70|
|  2|        11.0|        8|       318.0|     150.0|18.0|  plymouth satellite|     1|3436.0|  70|
|  3|        12.0|        8|       304.0|     150.0|16.0|       amc rebel sst|     1|3433.0|  70|
|  4|        10.5|        8|       302.0|     140.0|17.0|         ford torino|     1|3449.0|  70|
|  5|        10.0|        8|       429.0|     198.0|15.0|    ford galaxie 500|     1|4341.0|  70|
|  6|         9.0|        8|       454.0|     220.0|14.0|    chevrolet impala|     1|4354.0|  70|
|  7|         8.5|        8|       440.0|     215.0|14.0|   plymouth fury iii|     1|4312.0|  70|
|  8|        10.0|        8|       455.0|     225.0|14.0|    pontiac catalina|     1|4425.0|  70|
|  9|         8.5|        8|       390.0|     190.0|15.0|  amc ambassador dpl|     1|3850.0|  70|
| 10|        10.0|        8|       383.0|     170.0|15.0| dodge challenger se|     1|3563.0|  70|
| 11|         8.0|        8|       340.0|     160.0|14.0|  plymouth 'cuda 340|     1|3609.0|  70|
| 12|         9.5|        8|       400.0|     150.0|15.0|chevrolet monte c...|     1|3761.0|  70|
| 13|        10.0|        8|       455.0|     225.0|14.0|buick estate wago...|     1|3086.0|  70|
| 14|        15.0|        4|       113.0|     95.00|24.0|toyota corona mar...|     3|2372.0|  70|
| 15|        15.5|        6|       198.0|     95.00|22.0|     plymouth duster|     1|2833.0|  70|
| 16|        15.5|        6|       199.0|     97.00|18.0|          amc hornet|     1|2774.0|  70|
| 17|        16.0|        6|       200.0|     85.00|21.0|       ford maverick|     1|2587.0|  70|
| 18|        14.5|        4|        97.0|     88.00|27.0|        datsun pl510|     3|2130.0|  70|
| 19|        20.5|        4|        97.0|     46.00|26.0|volkswagen 1131 d...|     2|1835.0|  70|
+---+------------+---------+------------+----------+----+--------------------+------+------+----+
only showing top 20 rows

In [14]:
# dft.write.parquet('dataFile', compression = 'snappy')

In [15]:
dft1=spark.read.parquet('dataFile').show()

+---+------------+---------+------------+----------+----+--------------------+------+------+----+
|_c0|acceleration|cylinders|displacement|horsepower| mpg|                name|origin|weight|year|
+---+------------+---------+------------+----------+----+--------------------+------+------+----+
|  0|        12.0|        8|       307.0|     130.0|18.0|chevrolet chevell...|     1|3504.0|  70|
|  1|        11.5|        8|       350.0|     165.0|15.0|   buick skylark 320|     1|3693.0|  70|
|  2|        11.0|        8|       318.0|     150.0|18.0|  plymouth satellite|     1|3436.0|  70|
|  3|        12.0|        8|       304.0|     150.0|16.0|       amc rebel sst|     1|3433.0|  70|
|  4|        10.5|        8|       302.0|     140.0|17.0|         ford torino|     1|3449.0|  70|
|  5|        10.0|        8|       429.0|     198.0|15.0|    ford galaxie 500|     1|4341.0|  70|
|  6|         9.0|        8|       454.0|     220.0|14.0|    chevrolet impala|     1|4354.0|  70|
|  7|         8.5|        8|       440.0|     215.0|14.0|   plymouth fury iii|     1|4312.0|  70|
|  8|        10.0|        8|       455.0|     225.0|14.0|    pontiac catalina|     1|4425.0|  70|
|  9|         8.5|        8|       390.0|     190.0|15.0|  amc ambassador dpl|     1|3850.0|  70|
| 10|        10.0|        8|       383.0|     170.0|15.0| dodge challenger se|     1|3563.0|  70|
| 11|         8.0|        8|       340.0|     160.0|14.0|  plymouth 'cuda 340|     1|3609.0|  70|
| 12|         9.5|        8|       400.0|     150.0|15.0|chevrolet monte c...|     1|3761.0|  70|
| 13|        10.0|        8|       455.0|     225.0|14.0|buick estate wago...|     1|3086.0|  70|
| 14|        15.0|        4|       113.0|     95.00|24.0|toyota corona mar...|     3|2372.0|  70|
| 15|        15.5|        6|       198.0|     95.00|22.0|     plymouth duster|     1|2833.0|  70|
| 16|        15.5|        6|       199.0|     97.00|18.0|          amc hornet|     1|2774.0|  70|
| 17|        16.0|        6|       200.0|     85.00|21.0|       ford maverick|     1|2587.0|  70|
| 18|        14.5|        4|        97.0|     88.00|27.0|        datsun pl510|     3|2130.0|  70|
| 19|        20.5|        4|        97.0|     46.00|26.0|volkswagen 1131 d...|     2|1835.0|  70|
+---+------------+---------+------------+----------+----+--------------------+------+------+----+
only showing top 20 rows

In [16]:
# dft.write.parquet('dataFilePartitioned1',partitionBy=['year','cylinders'], compression = 'snappy')

In [17]:
dft2=spark.read.parquet('dataFilePartitioned1').show()

+---+------------+------------+----------+----+--------------------+------+------+----+---------+
|_c0|acceleration|displacement|horsepower| mpg|                name|origin|weight|year|cylinders|
+---+------------+------------+----------+----+--------------------+------+------+----+---------+
|367|        19.6|       112.0|     88.00|28.0|  chevrolet cavalier|     1|2605.0|  82|        4|
|368|        18.6|       112.0|     88.00|27.0|chevrolet cavalie...|     1|2640.0|  82|        4|
|369|        18.0|       112.0|     88.00|34.0|chevrolet cavalie...|     1|2395.0|  82|        4|
|370|        16.2|       112.0|     85.00|31.0|pontiac j2000 se ...|     1|2575.0|  82|        4|
|371|        16.0|       135.0|     84.00|29.0|      dodge aries se|     1|2525.0|  82|        4|
|372|        18.0|       151.0|     90.00|27.0|     pontiac phoenix|     1|2735.0|  82|        4|
|373|        16.4|       140.0|     92.00|24.0|ford fairmont futura|     1|2865.0|  82|        4|
|374|        20.5|       151.0|         ?|23.0|      amc concord dl|     1|3035.0|  82|        4|
|375|        15.3|       105.0|     74.00|36.0| volkswagen rabbit l|     2|1980.0|  82|        4|
|376|        18.2|        91.0|     68.00|37.0|  mazda glc custom l|     3|2025.0|  82|        4|
|377|        17.6|        91.0|     68.00|31.0|    mazda glc custom|     3|1970.0|  82|        4|
|378|        14.7|       105.0|     63.00|38.0|plymouth horizon ...|     1|2125.0|  82|        4|
|379|        17.3|        98.0|     70.00|36.0|      mercury lynx l|     1|2125.0|  82|        4|
|380|        14.5|       120.0|     88.00|36.0|    nissan stanza xe|     3|2160.0|  82|        4|
|381|        14.5|       107.0|     75.00|36.0|        honda accord|     3|2205.0|  82|        4|
|382|        16.9|       108.0|     70.00|34.0|      toyota corolla|     3|2245.0|  82|        4|
|383|        15.0|        91.0|     67.00|38.0|         honda civic|     3|1965.0|  82|        4|
|384|        15.7|        91.0|     67.00|32.0|  honda civic (auto)|     3|1965.0|  82|        4|
|385|        16.2|        91.0|     67.00|38.0|       datsun 310 gx|     3|1995.0|  82|        4|
|388|        14.5|       156.0|     92.00|26.0|chrysler lebaron ...|     1|2585.0|  82|        4|
+---+------------+------------+----------+----+--------------------+------+------+----+---------+
only showing top 20 rows

In [18]:
df_rdd=spark.read.text("poem.txt").rdd  # rdd = resilient distributed dataset API

In [19]:
lines=df_rdd.map(lambda line: line[0])

In [20]:
lines.collect()

['To be, or not to be, that is the question:',
 "Whether 'tis nobler in the mind to suffer",
 'The slings and arrows of outrageous fortune,',
 'Or to take arms against a sea of troubles',
 'And by opposing end them. To die—to sleep,',
 'No more; and by a sleep to say we end',
 'The heart-ache and the thousand natural shocks',
 "That flesh is heir to: 'tis a consummation",
 "Devoutly to be wish'd. To die, to sleep;",
 "To sleep, perchance to dream—ay, there's the rub:",
 'For in that sleep of death what dreams may come,',
 'When we have shuffled off this mortal coil,',
 "Must give us pause—there's the respect",
 'That makes calamity of so long life.']

In [21]:
lines.count()

14

In [22]:
splits=lines.flatMap(lambda x: x.split(' ')) # splitting each line into words

In [41]:
lower_splits=splits.map(lambda x: x.lower())

In [42]:
prep = ['the','a',',','.']

In [47]:
tokens = lower_splits.filter(lambda x: x and x not in prep)
tokens.collect()

['to',
 'be,',
 'or',
 'not',
 'to',
 'be,',
 'that',
 'is',
 'question:',
 'whether',
 "'tis",
 'nobler',
 'in',
 'mind',
 'to',
 'suffer',
 'slings',
 'and',
 'arrows',
 'of',
 'outrageous',
 'fortune,',
 'or',
 'to',
 'take',
 'arms',
 'against',
 'sea',
 'of',
 'troubles',
 'and',
 'by',
 'opposing',
 'end',
 'them.',
 'to',
 'die—to',
 'sleep,',
 'no',
 'more;',
 'and',
 'by',
 'sleep',
 'to',
 'say',
 'we',
 'end',
 'heart-ache',
 'and',
 'thousand',
 'natural',
 'shocks',
 'that',
 'flesh',
 'is',
 'heir',
 'to:',
 "'tis",
 'consummation',
 'devoutly',
 'to',
 'be',
 "wish'd.",
 'to',
 'die,',
 'to',
 'sleep;',
 'to',
 'sleep,',
 'perchance',
 'to',
 'dream—ay,',
 "there's",
 'rub:',
 'for',
 'in',
 'that',
 'sleep',
 'of',
 'death',
 'what',
 'dreams',
 'may',
 'come,',
 'when',
 'we',
 'have',
 'shuffled',
 'off',
 'this',
 'mortal',
 'coil,',
 'must',
 'give',
 'us',
 "pause—there's",
 'respect',
 'that',
 'makes',
 'calamity',
 'of',
 'so',
 'long',
 'life.']

In [44]:
token_list=tokens.map(lambda x: [x,1]) # mapping the token to a list

In [45]:
from operator import add

In [46]:
countWords=token_list.reduceByKey(add).sortBy(lambda x: x[1], ascending=False)
countWords.collect()

[('to', 11),
 ('that', 4),
 ('and', 4),
 ('of', 4),
 ('be,', 2),
 ('or', 2),
 ('is', 2),
 ("'tis", 2),
 ('in', 2),
 ('by', 2),
 ('end', 2),
 ('sleep,', 2),
 ('sleep', 2),
 ('we', 2),
 ('not', 1),
 ('question:', 1),
 ('whether', 1),
 ('nobler', 1),
 ('mind', 1),
 ('suffer', 1),
 ('slings', 1),
 ('arrows', 1),
 ('outrageous', 1),
 ('fortune,', 1),
 ('take', 1),
 ('arms', 1),
 ('against', 1),
 ('sea', 1),
 ('troubles', 1),
 ('opposing', 1),
 ('them.', 1),
 ('die—to', 1),
 ('no', 1),
 ('more;', 1),
 ('say', 1),
 ('heart-ache', 1),
 ('thousand', 1),
 ('natural', 1),
 ('shocks', 1),
 ('flesh', 1),
 ('heir', 1),
 ('to:', 1),
 ('consummation', 1),
 ('devoutly', 1),
 ('be', 1),
 ("wish'd.", 1),
 ('die,', 1),
 ('sleep;', 1),
 ('perchance', 1),
 ('dream—ay,', 1),
 ("there's", 1),
 ('rub:', 1),
 ('for', 1),
 ('death', 1),
 ('what', 1),
 ('dreams', 1),
 ('may', 1),
 ('come,', 1),
 ('when', 1),
 ('have', 1),
 ('shuffled', 1),
 ('off', 1),
 ('this', 1),
 ('mortal', 1),
 ('coil,', 1),
 ('must', 1),
 ('give', 1),
 ('us', 1),
 ("pause—there's", 1),
 ('respect', 1),
 ('makes', 1),
 ('calamity', 1),
 ('so', 1),
 ('long', 1),
 ('life.', 1)]